* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #4233c7;
    padding: 16px 0;
    color: #fff;
    border-bottom: 16px solid #2d2482;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

header button {
    margin: 0 16px;
    padding: 0 8px;
}

form {
    background-color: #b8b8b8;
    padding: 24px 0;
    text-align: center;

}

form h2 {
    margin: 16px 0;
}

input,
form button {
    padding: 8px;
    margin-right: 8px;
}

button {
    background-color: green;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

#botao-cancelar {
    background-color: red;
}

ul {
    display: block;
    flex-wrap: wrap;
    background-color: #dbdbdb;
}

ul li {
    max-width: 100%;
}

.tarefa {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 16px 0;
}

.tarefa:hover {
    text-decoration: underline;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}